#header h1 sup,
#header .button,
#header .landmark,
#header .logo {
  display: none;
}

#header,
#inner.wrapper {
  margin: 0px 5px;
}

#main,
#inner.wrapper,
.listbox .index,
.work.own,
.thread .even {
  background: #fcfafa;
}

#main {
  border: 2px solid #D63030;
}

#outer.wrapper {
  background: #fff;
}

#header .heading {
  height: 400px;
  width: 40%;
  background-color: #fff;
  background-image: url("https://i.ibb.co/t4bPBJk/1711217542.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

#header {
  background: none;
}

#header .primary {
  width: 55%;
  box-shadow: none;
  background: #e5e2e2;
  border-top: 1px dashed #D63030;
  border-bottom: 1px dashed #D63030;
}

#header .primary li:first-child {
  margin-left: 0em;
}

#header #search .text {
  position: absolute;
  top: -320px;
  right: 0em;
  border: 1px solid #D63030;
  background: #fcfafa;
}

#header .primary li,
#header .primary li a,
#greeting li,
#greeting li a {
  color: #B7031D !important;
}

#header .heading a {
  color: #B7031D;
  position: absolute;
  top: 50px;
  right: 0em;
}

#greeting {
  background: none;
  margin: 180px 0 0 0;
  height: 140px;
  color: #340101;
}

#greeting img.icon {
  height: 80px;
  width: 80px;
}

#greeting .icon img {
  position: absolute;
  top: 100px;
  right: 10px;
}

#greeting li {
  clear: left;
  border-bottom: 1px dashed #D63030;
  margin-top: 0.5em !important;
}

#greeting .icon img {
  margin-top: 0.3em !important;
  border: 2px solid #fff;
}

#greeting .dropdown .menu li {
  margin: 0 0.125em !important;
}

#greeting .menu {
  width: 16em;
}

.splash .favorite li:nth-of-type(odd) a {
  background: #e5e2e2;
}

#footer .menu a,
#footer .menu,
.system .latest h3,
.splash .module h3,
.system .tweets h3 {
  color: #340101;
}

#footer {
  border: none;
  background: none;
}

.blurb h4 a:link,
#footer h4 {
  color: #B7031D !important;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
a.tag:hover,
a.tag:focus,
#dashboard a:hover,
#dashboard a:focus,
#dashboard .current,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
  background: #DC6602 !important;
  color: #fff !important;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .dropdown .menu a,
#header .dropdown .menu,
#greeting .dropdown .menu,
#greeting .dropdown .menu a {
  background: #f1f0f0 !important;
  color: #000 !important;
}

#dashboard,
#dashboard.own {
  background: #e5e2e2;
  color: #000;
  border: 2px solid #D63030;
  box-shadow: 0 0 2px #000;
}

#header .dropdown .menu,
#greeting .dropdown .menu {
  border: 1px solid #D63030;
}

#greeting .current,
#greeting .dropdown:hover li,
#greeting .dropdown:focus li {
  box-shadow: none;
  background: #f1f0f0 !important;
  color: #000 !important;
}

#dashboard ul {
  background: transparent;
  border: none;
}

#dashboard .secondary {
  background-color: #fff;
  box-shadow: none;
}

.splash .module h3,
.splash .news li,
.home .header h2,
li.comment,
dl.meta,
.bookmark .user,
#header .menu li,
#dashboard ul,
#dashboard .secondary,
ul.notes,
.flash,
.notice,
tbody tr,
thead td,
#header #small_login,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form dt,
.actions a:active,
.current,
a.current,
.current a:visited,
.search span.tip,
.listbox,
fieldset fieldset.listbox {
  border-color: #D63030;
}

.comment h4.byline,
#main .verbose legend,
.unread,
.child,
.unwrangled,
.unreviewed,
.verbose fieldset,
.draft,
form ul.notes,
#modal,
.ui-sortable li,
.comment_notice,
.kudos_notice,
div.dynamic,
#ui-datepicker-div,
.ui-datepicker table {
  background-color: #cccaca;
  border-color: #D63030;
}

.flash,
.notice {
  background-color: #B78181;
}

form .notice,
ul.notes,
.caution {
  background-color: #FFEEDA;
  border-color: #900;
}

.alert.flash,
.error,
.comment_error,
.kudos_error {
  background: #efd1d1;
  color: #000;
  border-color: #900;
}

h2 {
  font-size: 1.286em;
  line-height: 1;
  margin: 0.5375em 0;
}

.listbox,
.bookmark .user,
.bookmark .user .header,
.reading h4.viewed,
li.relationships a,
.dropdown,
fieldset fieldset.listbox,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.secondary form,
.required .autocomplete {
  background-color: #E3E1E1;
}

.bookmark .user {
  border-radius: 5px;
}

.filters .submit input {
  color: #FFF;
  background: #DC6602;
  border: 1px solid #D63030;
  border-radius: 10px;
  box-shadow: 0 0 4px #000;
}

li.blurb,
.listbox li.blurb,
li.comment,
.statistics .index li:nth-of-type(even),
dl.meta,
dl.index dd,
#ibox_wrapper,
#ibox_content,
textarea:focus,
input:focus,
select:focus {
  background-color: #f1f0f0;
}

textarea,
input,
select,
option,
.toggled form,
.dynamic form,
.autocomplete .dropdown ul,
.autocomplete .dropdown ul li,
.autocomplete input {
  background-color: #fff;
}

li.blurb,
.listbox li.blurb {
  border: 1px dashed #D63030;
  box-shadow: 0 0 2px #000;
}

.blurb .header {
  border-bottom: 2px solid #D63030;
}

.bookmark .user .module {
  border: none;
}

.reading h4.viewed,
.bookmark .user {
  box-shadow: none;
}

.reading h4.viewed {
  border: 1px dashed #D63030;
}

.icon {
  border: 2px solid #fff;
}

.comment div.icon {
  border-bottom: none;
}

#workskin .notes,
dl.meta,
.reading h4.viewed,
.bookmark .user,
.comment .posted,
.comment .edited {
  font-size: 90%;
}

#workskin {
  text-align: justify;
}

#workskin h2 {
  font-size: 2.7em;
  color: #B7031D;
}

ul.tags li.warnings,
ul.tags li.relationships,
ul.tags li.characters,
ul.tags li.freeforms {
  float: left !important;
  margin: 0;
  padding: 2px;
}

li.warnings + li.relationships,
li.relationships + li.characters,
li.characters + li.freeforms,
li.warnings + li.characters,
li.warnings + li.freeforms,
li.relationships + li.freeforms {
  clear: left;
}

ul.tags li.warnings:first-child:before {
  content: "Warnings: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.relationships:before {
  content: "Relationships: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.characters + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.blurb blockquote p:first-child::before {
  content: "About: ";
  color: #000;
  font-size: 95%;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb ul.series::before {
  content: "Series: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb .fandoms::before {
  content: "Fandom: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

#header h2 {
  background-color: #B1232D !important;
}
